[2017-06-08 11:01] dkanou opened #1 "Configuration file for the Multisense-SL"
We tried the following:
-- roscore in the control PC
-- multisense in the vision PC (ROS master url has been configured to be seeing in the control PC)

We started and homed the robot and tried to check if the whole TF including the Multisense-SL is visible in the control or pilot PC, which is not the case.  Not sure if there is something in the config file that need to be touched or the ROS urls

[2017-06-08 11:12] liesrock commented on #1
Hi @dkanou : this should be in WALKMAN status repo. I just did it for you, let's continue there.

[2017-06-08 11:12] #1 closed

[2017-06-27 09:18] liesrock opened #2 "Config files and XBotCore"
It would be nice to improve the config file management w.r.t. XBotCore
 1) the final part of config files (xbotcore-related) should be moved to a separate config?
 2) the urdf/srdf/jointmap used by XBotCore should be taken relative to $ROBOTOLOGY_ROOT

[2017-06-27 09:25] pepperig commented on #2
I agree. We can have a file just with the things that matter to the end user. Moreover in the future we could develop a GUI that deals with all those setting...For example in the case of plugins the user could just see a list of plugins and drag and drop the one he needs

[2017-11-01 09:24] pepperig opened #5 "Shared memory issue with std::any"
@alaurenzi I am creating this issue so we do not forget.
We have a SEGFAULT on closing phase when we use the shared memory. The problem in on the destructor of the std::any(). NOTE that std::any allocate the shared_ptr on the heap.

[2017-11-02 09:10] alaurenzi commented on #5
Before starting with a possible refactor of the `SharedMemory` (which anyway will have to be done to make it thread-safe), I would like to make sure that putting shared pointers inside a `boost::any` is actually causing problems. Can you verify this with a small self-contained example?

[2017-11-02 09:13] pepperig commented on #5
When possible I can try. However in debug mode you can see the error.

[2017-11-03 17:27] alaurenzi commented on #5
Refactored in 0f6b35872dbdefcc4d30ba8, apparently the closing is now ok

[2017-11-05 16:52] liesrock commented on #5
Great, I close it.

[2017-11-05 16:52] #5 closed

[2017-11-05 16:53] liesrock commented on #2
As described in https://github.com/ADVRHumanoids/XCM/issues/32.

[2017-11-05 16:53] #2 closed

[2017-11-16 13:24] liesrock opened #7 "WIKI"
Discussion about the wiki contents and strucutre.

[2017-11-16 13:35] alaurenzi commented on #7
As a first step, let us come out with a general structure. Then we can create a skeleton and start filling it in parallel!

[2017-11-16 16:44] liesrock commented on #7
I would use https://armarx.humanoids.kit.edu/index.html as a starting point: what do you think?

[2017-11-16 17:42] nkashiri commented on #7
It looks, but it has some FEATURES that I hope we will not have, for instance, in the main documentation "ArmarXDoc", there is an "extended documentation" (that would be nice if we have in the main page), in which there is another "documentation" page!
I would say it would be nice if we could have that "extended documentation" integrated to the main page.
From a user perspective, like me, this doc

[2017-11-21 14:04] alaurenzi opened #8 "Control mode from command line"
How easy is it to set the robot to a standard control mode from command line?
Example:
- `XBotCore --idle`
- `XBotCore --torque`
- `XBotCore --pos`

@liesrock @pepperig

[2017-11-21 14:07] pepperig commented on #8
I asked time ago to @liesrock  but the problem is that each slave can be controlled in different mode..so a general mode implies the same mode for every slave.

[2017-11-21 14:11] alaurenzi commented on #8
Yes! We can define a set of simple rules like:
 - a wheel only supports velocity and idle
 - a low power esc only supports position and idle

[2017-11-21 14:13] pepperig commented on #8
ok! what about having joint partially controlled in torque mode? or we do not consider this case..

[2017-11-21 16:25] alaurenzi commented on #8
Meaning?

[2017-11-21 16:29] pepperig commented on #8
For example having the shoulder in position and the arm in torque control

[2017-12-04 16:37] liesrock commented on #7
Ok given your feedbacks I started creating the skeleton of the WIKI: I am currently offline working on the config files section

https://github.com/ADVRHumanoids/XBotCore/wiki

[2017-12-07 12:27] alaurenzi opened #10 "Dealing with NED IMU orientation"
Recently we found out with Luca that our IMU will provide the orientation of its own sensor frame (as depicted on the sensor itself) w.r.t. a world frame according to the NED (north-east-down) convention. Since we work with a world with +Z pointing upwards, we need to take care of this fact appropriately.

My suggestion is to compensate for such a difference by pre-applying a rotation of +180 degr

[2017-12-09 20:19] alaurenzi commented on #7
I'm almost finished with the XbotInterface page (https://github.com/ADVRHumanoids/XBotCore/wiki/XBotInterface). I will also take care of the ROS integration part.

Take a look and give feedback @liesrock  @pepperig  @nkashiri
PS: Whoever wants to review the english is welcome :D

[2017-12-11 07:46] pepperig commented on #7
it looks very good

[2017-12-11 09:22] MartijnZ commented on #7
Hi,

I did an update on the English of the interface documentation. But I don't know how to apply my changes (I can't push).

Martijn

[2017-12-19 14:54] liesrock commented on #7
I have completed the configuration files section (https://github.com/ADVRHumanoids/XBotCore/wiki/Configuration-files) and revised the quick start and the XBotInterface part. Super nice work!
I added a new section (XBotCore) where we are going to describe in deep the plugins (RT, IO, NRT) and the XBotCore requirements (in terms of URDF/SRDF constraints etc.)..
Please when you have time revise and g

[2017-12-20 11:49] pepperig opened #11 "Trsamission plugin issue RT-NRT"
when switching to NRT weird motion happens.

[2017-12-21 15:34] alaurenzi commented on #7
Started with the [XbotCore + ROS part](https://github.com/ADVRHumanoids/XBotCore/wiki/XbotCore-ROS-integration)

[2018-01-11 11:49] mkamedula opened #12 "wheels not controlled on the centauro-pilot pc"
run:
        roslaunch centauro_gazebo centauro_world.launch paused:=false
wheels are not controlled by xbotcore

[2018-01-11 14:34] FrancescoRuscelli opened #13 "Skeleton not up_to_date"

[2018-01-11 14:37] liesrock commented on #13
Let's check on devel branch and solve the issue, in this way the XBotCore + XCM repo will be updated.

[2018-01-12 15:37] liesrock commented on #12
XBotCore works with config file, as very detailed described in the [XBotCore wiki](https://github.com/ADVRHumanoids/XBotCore/wiki/quick-start).

I noticed you were using a config file with no_wheels.

Double check it and try to read more carefully the wiki: I put back the centauro_simple_example.yaml as config file in the system.

[2018-01-12 15:37] #12 closed

[2018-01-15 18:16] pepperig opened #14 "Cartesian interface"
As we discussed it would be useful to have a cartesian interface to ease the use.

[2018-01-15 18:23] pepperig opened #15 "Not RT synchronous/asynchronous robot API"
The idea is to have an api that allows to have the following behavior
- specify the type of trajectory (ptp, linear, ecc)
- specify the cartesian coordinates of the target
- synchronous move call that wait for the robot reaching the target position
- asynchronous move call that notify the user when the robot reach the target position

This would be useful in case we want implement a teaching like

[2018-01-19 09:00] liesrock opened #16 "robot_state_publisher instance inside CommunicationInterfaceROS causes segfault"
As you are already aware, on a clean 16.04 + xeno 3 installation I have a segfault on the instantiation of a ROS robot_state_publisher.
It is not easy to debug the error, but removing the robot state publisher for the core can be an option as (@EnricoMingo) was mentioning.

@alaurenzi @pepperig ideas?

[2018-01-19 11:44] alaurenzi commented on #16
I would not like to sacrifice the usability of the framework (only one terminal to use it). We can use an external rs publisher only if we manage to launch everything from one terminal (e.g. roslaunch).

We really should understand what is behind this very strange segmentation fault, because it will happen again for sure, and maybe the next time it will affect a vital component of the system.

[2018-01-22 19:38] DaniloCaporale opened #17 "XBotCore fails to load libXBotEcat.so"
[code]

Same goes with `walkman_example.yaml`.

Am I missing some package? Tried with XBotEcat but it doesn't compile on my machine.

[2018-01-22 19:41] pepperig commented on #17
Please check the wiki at https://github.com/ADVRHumanoids/XBotCore/wiki/quick-start.
Try using the dummy option -> XBotCore -D

[2018-01-22 19:50] DaniloCaporale commented on #17
`XBotCore -D configs/ADVR_shared/user_example/walkman_example.yaml` works! Thanks!

[2018-01-22 19:53] #17 closed

[2018-01-24 10:17] DaniloCaporale opened #19 "Run simulation in gazebo"
Read the docs alrady, can't figure how what I'm missing.

I do:
[code]
and have to use -D otherwise I find #17, but in this case I got kinematics only.
Infact, if I run `gazebo --verbose` and this is the output I get:

[code]

Then adding the robot I find:

[code]

and the robot falls down.
@liesrock @pepperig any ideas?
Thanks!!!

[2018-01-24 10:23] liesrock commented on #19
Ok, but I ask you again to read the docs, because this is not the way to run the simulation in verbose mode as stated here:

https://github.com/ADVRHumanoids/XBotCore/wiki/configuration-files

[code]
Node SimulationOptions (Optional)
verbose_mode (Mandatory) -> true if you want the Gazebo simulation with verbose command line output, false otherwise.

Moreover the options to pass to XBotCore are wr

[2018-01-24 10:38] DaniloCaporale commented on #19
[code]
In rviz I add a RobotModel, select base_link as fixed frame, put `xbotcore/walkman/robot_description` in Robot Description, among the RobotModel options, and I see the robot.
Then:
[code]
and the robot does homing properly in rviz.

What about gazebo?

[2018-01-24 10:41] liesrock commented on #19
Super!

Now let's try to update your config file to have a verbose mode in gazebo with

[code]

and lunch:

[code]

and drag and drop the walkman robot.

Then copy paste the output and we can analyze the error J

[2018-01-24 10:45] DaniloCaporale commented on #19
[code]

and the robot is KO.

[2018-01-24 14:49] liesrock commented on #19
Hi @DaniloCaporale this is how the verbose output should look like:

[code]

So in your case it looks like the plugin is not starting at all: can you check which config file you are using by typing:

[code]

And can you double check that the plugin is correctly installed and the $GAZEBO_PLUGIN_PATH correctly set?

[2018-01-24 14:58] DaniloCaporale commented on #19
Used `set_xbot_config` to get the correct path. Works better now.
`$GAZEBO_PLUGIN_PATH ` looks correct, I can see e.g.
[code]
in that folder.
Still, gazebo doesn't start properly:
[code]
and when I add the robot:
[code]

Am I using the correct yaml files to run simulation in gazebo?

[2018-01-24 15:19] liesrock commented on #19
Great! Yes the issue was the config file you were using: now that you are confident with the set_xbot_config I suggest to use the following config file:
[code]
pull the latest XBotCore and ADVR_shared and you will have everything working! Then I suggest to speak with @rsubburaman to understand which config file he is using for the DoorOpening task.

[2018-01-25 09:31] liesrock commented on #19
Any news on this @DaniloCaporale ?

[2018-01-25 10:18] DaniloCaporale commented on #19
Hi there,

just pulled everything and set the correct xbot_config file. I get this error when starting xbotcore
[code]

I should still use the `-DV` option right?

[2018-01-25 10:19] alaurenzi commented on #16
If I understand correctly, in the latest master we don't have the integrated RS publisher anymore. Is this correct?

[2018-01-25 10:27] DaniloCaporale commented on #19
Can't find `libJointStateRemapper.so` in my system. Am I missing some package?

[2018-01-25 10:41] liesrock commented on #19
Pull rhe latest XBotCore master!

[2018-01-25 10:54] DaniloCaporale commented on #19
Already up to date

[2018-01-25 11:28] liesrock commented on #19
It's here: e9d21742c4ed21174b39ea13d904c18d07068f76 - check if you successfully compiled

[2018-01-25 14:41] DaniloCaporale commented on #19
I was already there. Rebuilt but it's still the same.

[2018-01-25 15:02] liesrock commented on #19
Strange, that commit add the plugin: to try remove it from the config (you are not going to have the TF)

[2018-01-25 15:24] DaniloCaporale commented on #19
Removing the plugin `XBotCore -DV` does not crash. Still, if I run gazebo and add the robot I get
[code]
and then gazebo crashes.

[2018-01-25 16:30] liesrock commented on #19
By removing the plugin I mean remove only the "JointStateRemapper" not the whole YAML node that is mandatory:
[code]

[2018-01-25 16:53] DaniloCaporale commented on #19
Sorry :P
Removed correctly and now I get this when I add the robot, and gazebo crashes:

[code]

[2018-01-30 10:42] DaniloCaporale commented on #19
Guys, we managed to make it work.
Just as a reference: we pulled everything new, then we did the following.

The correct sequence to start the simulation in gazebo is:

[code]
then insert the robot within gazebo.

We could not find this stuff on the XBotCore wiki so I added it in a new page, hope it's useful.

[2018-01-30 10:42] #19 closed

[2018-01-31 19:30] pepperig commented on #11
this is solved using the reference. Commit b45625338988b058513c38846bc4cb94ba389a9b

[2018-01-31 19:30] #11 closed

[2018-02-02 01:00] liesrock commented on #19
merged here: https://github.com/ADVRHumanoids/XBotCore/wiki/Quick-Start

[2018-02-07 00:04] DaniloCaporale opened #20 "Build error due to wrong name in package.xml"
Hi,

tried to push this fix but it's locked.

In package.xml had to replace the following to build.

< name >XCM< /name >
< name >XBotCore< /name >

Cheers,

Danilo

[2018-02-09 14:23] FrancescoRuscelli opened #21 "Impedance Ankle transmission plugin should always work on Cogimon"
The ImpedanceAnkle plugin, which implement stiffness and damping compliance on the ankle joint, starts only when a move is issued.
Instead, it should always be running independently from the user issuing a move or not, as long as the robot is turned on.

[2018-02-09 14:25] alaurenzi commented on #21
I agree. Probably a good solution is to call transmission plugins directly inside the plugin handler loop... Let's discuss about this

[2018-02-09 14:37] liesrock commented on #21
Thanks @FrancescoRuscelli, I agree too: it was a bad design choice (documented here https://github.com/ADVRHumanoids/RobotInterfaceXBotRT/issues/3) -> I will keep both the issue updated.

[2018-02-19 14:54] liesrock opened #22 "Adding the possibility to SCP log"
As title

[2018-02-19 14:56] liesrock commented on #22
@alaurenzi note for the logger the changes are here: bf44e2bf910430c70388a9fe8e5ebd57cf6ac022

[2018-02-24 12:21] pepperig opened #24 "Run time information about the HAL"
Provides inside a plugin a way to check what HAL is loaded so to have different behavior in simulation or even in different robot. The goal is to avoid IFDEF forcing to recompile the code.

[2018-03-01 13:15] pepperig opened #25 "Plugin handler control loop 1 cycle after onStop"
After switching off the plugin it is still executed for one cycle

[2018-03-01 13:24] pepperig commented on #25
fix in commit 0cdf0f7121ff55386e73feea9e5ac04ca474db8a

[2018-03-01 13:24] #25 closed

[2018-03-01 15:37] pepperig commented on #24
Done in commit 6e8c6e055e2e06e3985c4fe5564452724ce2ff04
@ADVRHumanoids/all
You can find inside the HomingExample how to get the information to know if you are in simulation, debug(dummy mode) or in the real robot. You can also get info on the type of the robot.

[2018-03-01 15:39] liesrock commented on #24
Great! Can you please add all the information on the documentation page of the R-HAL?

https://github.com/ADVRHumanoids/XBotCore/wiki/R-HAL

We need to keep the documentation synchronized with the new features.

[2018-03-01 15:40] liesrock commented on #22
@alaurenzi can you give me a feedback here or in the related pull request?

[2018-03-01 15:41] liesrock commented on #20
@pepperig did you had this issue? I did not.

[2018-03-01 15:42] liesrock commented on #10
We currently use the IMU with @alaurenzi modification.

[2018-03-01 15:45] liesrock commented on #8
@alaurenzi can you better explain what you would like to have from this command line tool?

[2018-03-01 15:48] pepperig commented on #20
nope

[2018-03-01 15:56] liesrock commented on #20
@DaniloCaporale can you please give us some more details about the error?

[2018-03-01 15:59] alaurenzi commented on #10
I reopen since if I remember correctly that one is just a local change on centauro embedded.. not really a solution!

[2018-03-01 16:00] alaurenzi commented on #22
For some reason was not working on my latest experiments on centauro

[2018-03-01 16:02] liesrock commented on #10
Ok, thanks.
The issues can't be here forever: I ask the others mentioned to give us their opinion ASAP and to find a real solution.

@nkashiri @ntsagarakis @liesrock @EnricoMingo @pepperig

[2018-03-01 16:03] pepperig commented on #24
done!

[2018-03-01 16:03] #24 closed

[2018-03-01 19:06] pepperig opened #26 "Check behavior of rosutils from real time"
I experienced some issue using the kuka robot. I will check the log to get more info but it could be related to increasing of the control period (kuka has hard time constraint).

[2018-03-01 19:11] pepperig opened #27 "Separate thread for HAL"
RT thread for the robot which communicate with the XBot thread using shared memory with mutex or using IDDP.
This will allow to have an high frequency robot control loop.

[2018-03-04 09:04] pepperig opened #28 "Init plugin called from a not real time thread"
I am not sure that breaking the RT even in the init (so for small amount of time) it is a good thing. I started think about it because currently the kuka robot implementation runs on the xbotcore thread. I realized that I am not able anymore to run at 5 ms because of the switching to secondary mode caused by the init of homing example. Anyway I am planning to have a separated thread for the robot.

[2018-03-04 09:15] pepperig opened #29 "Make execution time plugin constant and predictable"
So far we have a RT threads that spins at a given control period but we do not take into account the fact that a plugin could take longer execution time. We could have a sort of optional hard RT constraint that check if we exceed the time. This will be also useful for debug purpose.
What do you think? @liesrock @alaurenzi @EnricoMingo

[2018-03-04 13:31] liesrock commented on #29
The idea is cool, but what would you do if the execution time exceeds the hard RT constraint deadline? It is not easy to assure hard RT timing in a complex plugin, how would you check it? Only experimentally?
Try to explain better what tool you would like to develop and how it should work.

[2018-03-04 13:34] liesrock commented on #28
I agree: in general the HAL (as we discussed) should give the possibility to use a NRT thread for this kind of operation. I am not sure how much we gain using the loader.

Anyhow this would lead to a basic refactor of the HAL interface right?
What would we need to change in the current concrete implementations?
How are we going to handle the operations btw the RT thread and the NRT thread? Is this

[2018-03-04 14:23] pepperig commented on #28
The idea is to have a separate RT thread that handles the robot (like the cat master thread).
We could think to provide both a RT and NRT HAL, but if possible I would focus on making RT safe the kaka implementation.
So yes, we have to change a bit the interface.
The communication will use iddp, xddp, shared memory depending on the type(RT, NRT) of HAL thread.

When I mentioned the init I was refer

[2018-03-04 14:33] pepperig commented on #29
What to do if the execution time exceed is not clear yet. We could just stop the execution of the control loop. Basically we could use it with the dummy mode to check beforehand the execution time.
Of course this will be an optional feature when we want have hard RT constraint.
I would check the execution time of the plugin handler control loop rather that the plugin one.
The solution will use a t

[2018-03-04 16:47] pepperig commented on #29
Interesting point https://stackoverflow.com/questions/45958888/what-happens-if-a-hard-realtime-task-exceeds-its-deadline
So basically is up to us, but we must know the capability of the system and relax the period accordingly or optimize the code if we do not meet the deadline.

[2018-03-04 18:37] alaurenzi commented on #27
But what exactly is the purpose?
The actual feedback loops are two:
- the first is closed on the DSPs
- the second is closed on the embedded pc and directly involves the RT plugins

How would a separate very fast, communication thread help performance if the RT plugins are slower?

[2018-03-04 18:54] EnricoMingo commented on #29
Hi all,
If the plugin handler exceeds the control period, Xenomai gives an error. Of course it is interesting to understand which is the cause, that in general could be that the sum of the periods of each plugin (which is maybe under the ms) is higher than the control period. If a single plugin execution is over the control period is easy, the former case is more complicated because who is the plu

[2018-03-05 07:16] pepperig commented on #29
I am not so sure that xenomai gives error if we exceed the control period because we have some log showing spike in the period. In my opinion it is good to know as first thing whether the global control loop time is under the control period.
As you said checking the control period for each plugin is not easy. We could give a fixed amount of time to each plugin, so (period/number_of_plugin) but aga

[2018-03-05 19:14] pepperig commented on #28
Could be also related to this issue https://github.com/ADVRHumanoids/XCM/issues/54

[2018-03-06 10:10] pepperig opened #30 "Issue switch RT-NRT web"
This issue was solved but somehow we removed the followig code
``
 /* Receive commands from the master communication handler,
     * i.e. the only one enabled to send commands to the robot */
    if(_master_communication_ifc->getPluginStatus(_plugin_names[xbot_communication_idx]) == "STOPPED"){
        _master_communication_ifc->resetReference();
    }
    else{
        _master_communication_ifc->

[2018-03-06 10:13] alaurenzi commented on #30
This was done in which commit?

[2018-03-06 10:13] alaurenzi commented on #21
This is quite relevant bug, ping!

[2018-03-06 10:34] pepperig commented on #21
I think @liesrock  is working on it

[2018-03-06 10:52] pepperig commented on #28
#31

[2018-03-06 10:54] liesrock commented on #21
Yes, I am on it

[2018-03-06 10:54] pepperig commented on #29
#31 gives waring on time control exceed. Not clear yet what to do if we exceed the time.

[2018-03-06 15:11] pepperig opened #33 "Missing wiki about core.yaml"
As title. Moreover since we do not use anymore the sharedlibpp we can remove some node.

[2018-03-08 15:32] liesrock commented on #22
I tried with different plugins, but simple ones looks working: I wil try with a complex one (chengxu_walking) on walkman.

[2018-03-09 17:31] pepperig commented on #29
Just to recap a bit my understanding. Period = 1 means not period thread, otherwise if >1 it will be a periodic at the period's frequency. Just in a periodic thread we have the xenomai warning when the execution time exceeds the period.
Currently when we run XBotCore we spawn a non periodic thread which frequency depends on the Ecat master thread.
The Ecat thread is independent from XBotCore, it s

[2018-03-09 19:33] pepperig commented on #29
![diapositiva1](https://user-images.githubusercontent.com/13858465/37226086-18f51dfc-23d9-11e8-977c-d4b0d0ea4581.jpg)

This shows the worst case

[2018-03-13 13:42] liesrock commented on #22
Also in simulation, with the dummy it works with different plugins and different robots.

[2018-03-15 13:49] pepperig commented on #28
solved in #34

[2018-03-15 13:49] #28 closed

[2018-03-15 14:12] pepperig opened #35 "Auto generated skelethon for R-HAL"
As title

[2018-03-19 12:19] liesrock commented on #22
Integrated in https://github.com/ADVRHumanoids/XBotCore/commit/5b57a239b772d0a42a469e8759b43d5d1f14f82d

[2018-03-19 12:19] #22 closed

[2018-03-21 10:39] liesrock commented on #33
I am trying to remove it, I will update you here

[2018-03-21 11:44] pepperig commented on #27
solved in #37

[2018-03-21 11:44] #27 closed

[2018-03-27 08:27] liesrock commented on #29
We have more answers: the EtherCAT slave implementation (soes) on the firmware of the boards we are currently using requires in the worst case 400 microseconds to read and write a new frame on the PDO.
Given the current implementation of the multi-thread synchronization (ecat thread periodic @ 1ms and XBot thread non-periodic following ecat thread based on a condition variable), the recv_from_slav

[2018-03-27 08:46] pepperig commented on #29
@ntsagarakis

[2018-03-27 08:55] nkashiri commented on #29
I hope it's just for some experiments, and the plan is not to actually lower the frequency of inner most centralized controller to 500Hz. In 2018, it'll be a tad embarrassing to say it out of the lab..
Besides, for the controllers that are so necessary in RT (like impedance controller), it's still possible to survive with 0.4ms.
In any case, @liesrock @alessiomargan , it would be nice to improve t

[2018-03-27 09:00] pepperig commented on #29
I would suggest to implement a different synch mechanism. Each thread spins on its own.

[2018-03-27 09:05] liesrock commented on #29
@nkashiri the bottleneck is the SPI communications between the microcontroller and the beckhoff chip. I know Alessio will work on a parallel mechanism, meanwhile we can try what Giuseppe suggests.
Anyhow as you said, RT plugin runnable in less than 400 microsecond will be run at 1kHz, so no worries!

[2018-03-29 06:52] liesrock commented on #29
Just to add that @pepperig used the XBot on a KUKA controlled in RT mode and the overhead from the low level is negligible.
So the XBot can be use at 1 kHz with 200 microseconds overhead, keeping in mind that 100 microseconds of them are used to perform the sense of the robot and the update of the internal model, which all the plugins can use "for free" in the control loop.

[2018-03-29 13:23] alessiomargan commented on #29
![img_20180329_150754](https://user-images.githubusercontent.com/25150138/38091011-8de0dda0-3364-11e8-9daa-5832fc397b04.jpg)

the blue scope measure the ecat irq handler execution time, so tx and rx pdo takes 200us on the microcontroller
I am doing some measurements to understand others timing delay in the master.

[2018-03-29 14:08] alessiomargan commented on #29
Seems that an ecat_cycle(), send and receive,  in the ecat_thread is 350 us

[2018-03-30 12:12] pepperig opened #39 "Distributed Logger"
As we all know the the actual RT logger is time limited. We can allocate bigger buffer but we are constrained by the system memory.
A solution could be to have the NRT thread dealing with the copy and transfer of the RT logging to the file. We will use XDDP pipe to forward data.

[2018-04-02 10:25] alaurenzi opened #40 "Cogimon ankles nrt control bug"
When switching to NRT control, the ankles move without reason. Appare tly, they go to the motor-side zero.
We should work on solving this with high priority, otherwise it will be difficult to do the opensot demo for the upcoming review meeting.

@liesrock @pepperig

[2018-04-02 10:26] alaurenzi commented on #40
@EnricoMingo

[2018-04-02 10:29] alaurenzi commented on #39
This is a welcome improvement. We should first understand how to use the matio library in order to modify an already existing mat file in order to add new data. Then we should find a way to share data with a nrt thread such that:
- the rt thread never blocks
- the rt thread performance is not affected

Logging is very common in our plugins and we don’t want any performance penalty on this!

[2018-04-02 19:08] liesrock commented on #39
What about using the ROS based robot state logger?

[2018-04-02 19:10] liesrock commented on #40
I know about the issue but I did not give high priority to this since we always used the robot in RT mode: if you don't have the code ready to work as a RT plugin, and you don't want to deal with it, I will work on the transmission plugin issue starting from tomorrow afternoon.

[2018-04-03 16:34] liesrock commented on #40
OK solved with https://github.com/ADVRHumanoids/cogimon_tools/commit/8857abdb22deff7215818730571d7a840b4459c5

The reason why we had the issue is related on the assumption that the motor side reading from the sense on the Ankles joints is assumed equal to the motor ones.
This is not true, so we decided to assume that in the joint "world", motor side and link side position are equal (calculated wit

[2018-04-03 16:50] alaurenzi commented on #40
I believe this is the right solution. It should be possible though to compute the joint space motor side from the motor positions before the trasmission applying chengxu ik

[2018-04-04 09:15] pepperig commented on #30
done in ecc15c7121a4915d63673e0402bfdb4b93bfcffa
@liesrock @alaurenzi

[2018-04-04 09:16] #30 closed

[2018-04-04 10:44] alaurenzi opened #41 "Control mode implementation status"
**WHAT**
Control modes are a way to automatically filter/mask the reference signals that are sent to the boards. Thanks to this feature, the user can select during a startup phase which references are sent to each motor.
Example:
`robot->setControlMode(ControlMode::Position() + ControlMode::Velocity());`
makes sure that **only** position and velocity references are sent to the robot, even if the u

[2018-04-04 13:30] liesrock commented on #40
The issue was solved only partially with the above solution: @pepperig solved also the NRT part (https://github.com/ADVRHumanoids/RobotInterfaceXBotRT/commit/363eb8de0c08a4c5888df3f13fe5a33f148cbd6a), related to the robot control using the XBotCommunicationPlugin.
Remember to use valgrind in the future.

[2018-04-04 13:30] #40 closed

[2018-04-05 16:51] alessiomargan opened #42 "centauro/tree actuator fault review"
/*
 * ?  fault goes on/off
 * !  fault goes off when acknowledge by master
 * +  power_off, motor become idle
 * ++ power_off if in impedance, motor become idle
 */

struct BIT_FAULT {

    // bits 0..3
    uint16_t  m3_rxpdo_pos_ref:1;   // ?
    uint16_t  m3_rxpdo_vel_ref:1;   // ?
    uint16_t  m3_rxpdo_tor_ref:1;   // ?
    uint16_t  m3_fault_hardware:1;  // ! +
    // bits 4..7
    uint16_t

[2018-04-11 14:51] liesrock commented on #41
Ok, I agree on the policy, what I would stress out is that the `RobotInterface::setControlMode()` is not commanding the actual control mode on the robot joint, but just masking some of the reference.
The encapsulation of the *ctrl_mode* inside the ROS message is a nice feature, considering it a one-shot masking for the specific message.
I am going to test it and in case opening a pull request.

[2018-04-11 15:29] liesrock commented on #41
Tested successfully in simulation (both from RT and non-RT) using RViZ and Gazebo: I just suggest to have '31' has default *ctrl_mode* instead of 0 in the ROS message.
I will open the pull request and ask to add the documentation in the XBotCore Wiki!

[2018-04-12 10:05] liesrock commented on #10
Ok, we take this as the final solution to solve the above described issue: I will merge in this https://github.com/ADVRHumanoids/XBotEcat/pull/1

@ADVRHumanoids/advr-developers

[2018-04-12 10:05] #10 closed

[2018-04-12 15:25] adrianoIIT opened #44 "Logger restart"
The logger of a plugin is closed and saved only the first time in witch that plugin it's started, but not after you restart it.
@pepperig

[2018-04-17 11:09] liesrock commented on #41
Documentation and small modification are still missing, I will close this after.

[2018-04-17 11:11] liesrock commented on #26
Any other info in this?

[2018-04-17 11:12] liesrock commented on #8
I think @pepperig can now provide this tool with the hal2.0

[2018-04-17 11:13] liesrock commented on #16
@alaurenzi can you update us in this?

[2018-04-17 11:17] liesrock opened #45 "Getting rid of core.yaml"
To reduce the number of config files in the system (and at the same time a bit the flexibility of the framework), me @alaurenzi and @pepperig decided to finally get rid of the core.yaml config file based also on the users feedbacks (thanks @EnricoMingo and @Pouya-moh).

This issue is related to https://github.com/ADVRHumanoids/XBotCore/issues/33 and https://github.com/ADVRHumanoids/XBotInterface/i

[2018-04-17 11:25] alaurenzi commented on #16
Latest XBotCore devel contains an internal robot state publisher that looks to solve the problem

[2018-04-17 11:26] liesrock commented on #45
The plan is to sacrifice a bit the flexibility when naming a RobotInterface, ModelInterface  or JointState / Command ROS messages.

The name policy will be the following given a NAME:

[code]

So for example the ROS implementation of a RobotInterface will have the following name:

[code]

and its related shared library will be:

[code]

The XBot framework is going to find the shared library specif

[2018-04-17 16:51] Pouya-moh commented on #45
Just a suggestion, here. Maybe you could consider a very *Linuxy* practice. If you want to get dirty with getting environment variables from OS, you could consider `$HOME/.config/xbot/` as the default path for configuration file. This way you could have `core` and `interface` subdirectories with their own stuff. Just a thought...

Thanks a lot for the effort and cheers!

[2018-05-09 16:06] pietrobalatti opened #47 "Comments swap"
**XBotCore/skeleton/control/src/plugin.cpp**

Comments on lines 55 and 58 should we swapped ;)

[2018-05-21 16:00] pepperig commented on #26
I tried again with KUKA robot and it look working fine. However now we have a separate R-HAL thread.
I do not know if there are slowdowns in the control loop when using this feature.

[2018-05-21 16:03] pepperig opened #48 "Period plugin not constant"
During the implementation of a cartesian impedance controller for KUKA robot relying on the period made the controller working not so good. A fixed period solved it.

[2018-05-21 16:08] alaurenzi commented on #48
Is it any different from #29 ?

[2018-05-21 16:13] pepperig commented on #48
It is related but I want to have this issue as remainder especially for KUKA.

[2018-05-21 16:23] alaurenzi commented on #15
Have a look to [**this**](https://github.com/ADVRHumanoids/CartesianInterface) :sunglasses:

[2018-05-21 16:41] pepperig commented on #15
Yes! ;-)

[2018-05-21 23:26] liesrock commented on #26
I believe we did not noticed this behavior ever on our humanoids: if @alaurenzi can confirm I close.

[2018-05-21 23:27] liesrock commented on #48
Ok so let's try to change the title accordingly, in this way all of us can follow and understand the difference between the two issues.

[2018-05-23 14:34] alaurenzi commented on #26
There should be no slowdowns from my point of view

[2018-05-23 21:53] #26 closed

[2018-06-06 16:36] pepperig opened #49 "Template plugin not up to date xeno3"
We need to update the cmake folder/

[2018-06-11 14:53] liesrock commented on #45
Thanks @Pouya-moh: with @alaurenzi work on https://github.com/ADVRHumanoids/XBotInterface/issues/46 and my merge/addition in devel we are able to avoid the core.yaml
Once this will be fully tested in master I will close this issue.

[code]
Are not yet implemented: the standard is now AdvrJointStateMessage and AdvrCommandMessage

[2018-06-11 15:12] liesrock commented on #33
core.yaml is not yet needed in devel, soon in master we are going to have this feature: I have updated the config files documentation accordingly.

[2018-06-11 15:12] #33 closed

[2018-06-11 15:14] liesrock commented on #49
Fixed in devel: I will merge ASAP.

[2018-06-11 15:14] #49 closed

[2018-06-11 15:16] liesrock commented on #13
Done in the latest devel: I will merge ASAP.

[2018-06-11 15:16] #13 closed

[2018-06-11 15:16] liesrock commented on #47
Thanks! Done in the latest devel

[2018-06-11 15:16] #47 closed

[2018-06-11 15:20] #20 closed

[2018-06-11 15:21] liesrock commented on #16
I confirm that in this way the problem is solved: ok in devel I will merge it in master ASAP

[2018-06-11 15:21] #16 closed

[2018-06-11 15:22] #15 closed

[2018-06-11 15:30] liesrock commented on #44
I will check the logger

[2018-06-12 15:11] liesrock opened #52 "Put XENO flags on in compilation by default on XENOMAI"
as title

[2018-06-12 15:53] Pouya-moh commented on #45
Awesome. I have Jenkins running at all times. I can easily test it as soon as you are done.

Cheers.

[2018-06-19 14:23] williamalexmoran opened #54 "Setup issues"
We are trying to install XBotCore for use with a humanoid robot. We followed the installation instructions for advr-superbuild and are having some issues. Every subdirectory we set to "ON" returns "Package not found. Will be downloaded and built", and when we look through the folders they are all empty. As an alternative, we also tried to clone this repository directly, but neither method found "g

[2018-06-22 19:22] pepperig commented on #54
Try to update the superbuild, then delete the build folder and try again.
Do not forget to source the terminal at the end.

[2018-06-22 19:24] pepperig commented on #54
Also this type of issue should be opened here https://github.com/ADVRHumanoids/advr-superbuild/issues

[2018-06-24 09:47] liesrock commented on #54
continuing on https://github.com/ADVRHumanoids/advr-superbuild/issues

[2018-06-24 09:47] #54 closed

[2018-06-25 16:23] pepperig opened #55 "Wrong config file to low level devel branch"
I noticed that if I chose a high level config from the advr superbuild the system takes  the low level config according to the superbuild we are sourcing. So I tried to use a config from advr superbuild while I was sourcing the devel and was not working.

[2018-06-26 01:30] liesrock commented on #55
Hi @pepperig , sorry  I did not get what you are reporting: can you explain better?

[2018-06-26 05:03] pepperig commented on #55
The path to the low level config file is relative to the superbuild we source. So, if you have two superbuild you are obligated to use the config folder of the sourced superbuild. For example you cannot source the devel superbuild and use the config folder of the advr superbuild

[2018-06-26 06:07] liesrock commented on #55
This is the expected behavior: the framework needs to work only with respect to the sourced superbuild for relative paths, since it (rightly) does not know about other superbuilds

[2018-06-26 08:20] pepperig commented on #55
If it is the expected behavior it should be consistent I guess. So both high and low level config from the same place. Anyway I expect that the path inside the config would be relative to the location of the high level config. What if I have an external folder for the all the config? It won't work of I understand correctly.

[2018-06-26 14:44] liesrock commented on #55
So it is possible to set the high level config file only by its absolute path using the set_xbot_config command.

Inside fhe high level config file you can specify absolute path or relative path with respect the the $ROBOTOLOGY_ROOT set by the sourced superbuild.

So there is not any meaning for the "relative to the location of the high level config file", since we only know about the root path of

[2018-06-26 15:58] pepperig commented on #55
Ok! I thought the path was relative to the folder. So this is the expected behaviour and not an issue.

[2018-06-26 15:58] #55 closed

[2018-06-26 16:54] liesrock opened #56 "Check feasible cpu allocation before pthread_create"
I was struggling with this issue: if we install/run the framework with a (virtual or real hardware) machine with only 1 CPU, we try to create thread and allocate them on different CPUs.
We should do a check and allocate to a different CPU our main threads only if possible.

FYI @alaurenzi @pepperig

[2018-06-28 13:31] williamalexmoran opened #58 "XBotCore: command not found"
Hello all,
I recently got XBotCore successfully installed, with it recognizing roscore, Gazebo and at first XBotCore commands. However, as soon as I opened a new terminal, it stopped recognizing XBotCore as a valid command. Are there any potential reasons why this might occur?

[2018-06-28 13:40] EnricoMingo commented on #58
Are you using the superbuild? Did you source it?

Il giorno gio 28 giu 2018 alle ore 15:31 williamalexmoran <
notifications@github.com> ha scritto:

--
PhD Mingo Hoffman Enrico
Istituto Italiano di Tecnologia, Genova

[2018-06-28 13:55] williamalexmoran commented on #58
Yes to both.

[2018-06-28 14:06] EnricoMingo commented on #58
This is very strange.
Does echo $ROBOTOLOGY_ROOT or echo $XBOT_ROOT return something?

Il giorno gio 28 giu 2018 alle ore 15:55 williamalexmoran <
notifications@github.com> ha scritto:

--
PhD Mingo Hoffman Enrico
Istituto Italiano di Tecnologia, Genova

[2018-06-28 14:40] williamalexmoran commented on #58
Those both return blank lines.

[2018-06-28 14:56] EnricoMingo commented on #58
I think the superbuild is not sourced in that terminal. Can you try to
source advr-superbuild/robotology-setup.bash and echo again?

Il giorno gio 28 giu 2018 alle ore 16:40 williamalexmoran <
notifications@github.com> ha scritto:

--
PhD Mingo Hoffman Enrico
Istituto Italiano di Tecnologia, Genova

[2018-06-28 15:04] williamalexmoran commented on #58
That seems to fix the problem where it does not recognize XBotCore as a command! It appears to be a problem with when you run XBotCore without roscore already running. It throws an error, and then XBotCore is no longer recognized. Sourcing it does fix the problem though! Thank you very much!

[2018-06-28 15:30] liesrock commented on #58
Gret! I suggest to carefully read the sections in the wiki here to help you with this kind of problems: https://github.com/ADVRHumanoids/XBotCore/wiki

[2018-07-02 17:06] weekly-digest[bot] opened #59 "Weekly Digest (25 June, 2018 - 2 July, 2018)"
Here's the Weekly Digest for [ADVRHumanoids/XBotCore](https://github.com/ADVRHumanoids/XBotCore):
# ISSUES
This week, 6 issues were created. Of these, 2 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #58 [XBotCore: command not found](https://github.com/ADVRHumanoids/XBotCore/issues/58), by [williamalexmoran](https://github.com/williamalexmoran)
:green_heart: #56

[2018-07-02 17:08] liesrock commented on #58
Hi @williamalexmoran if you agree, I would close this issue.

[2018-07-15 02:36] weekly-digest[bot] opened #61 "Weekly Digest (8 July, 2018 - 15 July, 2018)"
Here's the Weekly Digest for [ADVRHumanoids/XBotCore](https://github.com/ADVRHumanoids/XBotCore):
# ISSUES
This week 1 issue is created.
## OPEN ISSUES
:green_heart: #60 [Fault handler](https://github.com/ADVRHumanoids/XBotCore/pull/60), by [pepperig](https://github.com/pepperig)

# PULL REQUESTS
This week, 1 pull request has been proposed, which is still open.
## OPEN PRs
:green_heart: #60 [Fault

[2018-07-15 09:13] #59 closed

[2018-07-15 09:13] #58 closed

[2018-07-22 00:50] weekly-digest[bot] opened #62 "Weekly Digest (15 July, 2018 - 22 July, 2018)"
Here's the Weekly Digest for [ADVRHumanoids/XBotCore](https://github.com/ADVRHumanoids/XBotCore):
# ISSUES
This week, 2 issues were created. Of these, 2 issues have been closed and 0 issues are still open.
## CLOSED ISSUES
:heart: #60 [Fault handler](https://github.com/ADVRHumanoids/XBotCore/pull/60), by [pepperig](https://github.com/pepperig)
:heart: #58 [XBotCore: command not found](https://gith

[2018-07-29 02:39] weekly-digest[bot] opened #63 "Weekly Digest (22 July, 2018 - 29 July, 2018)"
Here's the Weekly Digest for [ADVRHumanoids/XBotCore](https://github.com/ADVRHumanoids/XBotCore):
# ISSUES
This week, no issues have been created or closed.

# PULL REQUESTS
This week, no pull requests has been proposed by the users.

# CONTRIBUTORS
This week, no user has contributed to this repository.

# STARGAZERS
This week, no user has starred this repository.

# COMMITS
This week, there have

[2018-08-12 06:18] weekly-digest[bot] opened #65 "Weekly Digest (5 August, 2018 - 12 August, 2018)"
Here's the **Weekly Digest** for [*ADVRHumanoids/XBotCore*](https://github.com/ADVRHumanoids/XBotCore):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no st

[2018-09-01 10:41] rsubburaman opened #68 "XBotCore freezes during plugin initialization due to custom ros message publishers"
I was trying to run a plugin which has two custom ros message publishers publishing some data to a ros topic. The plugin gets compiled without any issues and I also checked during compilation if it finds the location of the custom messages, and it does. The problem occurs during the initialization of this plugin when I start the XBotCore.

----------- In the header file, I declare the publishers a

[2018-09-01 10:57] liesrock commented on #68
Ciao Raj!

Are you sure you are enabling the Xeno flag on your plugin?

Can you link here the repo of the plugin?

[2018-09-01 11:42] rsubburaman commented on #68
I guess so, because i checked the CMakeLists.txt file and it is ON by default. I have shared the repo with you, i hope you can access it. The branch which I am using on the real system is "master_cogimon_sys".

[2018-09-02 09:52] weekly-digest[bot] opened #69 "Weekly Digest (26 August, 2018 - 2 September, 2018)"
Here's the **Weekly Digest** for [*ADVRHumanoids/XBotCore*](https://github.com/ADVRHumanoids/XBotCore):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #68 [XBotCore freezes during plugin initialization due to custom ros message publishers](https://github.com/ADVRHumanoids/XBotCore/issues/68), by [rsubburaman](https://github.com/rsubburaman)
## NOISY

[2018-09-05 09:39] liesrock commented on #68
@rsubburaman please give us new update this

[2018-09-05 14:11] rsubburaman commented on #68
The issue was due to Xenomai being "OFF" when the XBotcore was started. @pepperig fixed the issue by turning it ON manually. This shouldn't have occurred since the Xenomai flag is ON by default in the CMakeLists.txt, looks like something else had overwritten the setting.

[2018-09-05 14:11] #68 closed

[2018-09-09 09:52] weekly-digest[bot] opened #70 "Weekly Digest (2 September, 2018 - 9 September, 2018)"
Here's the **Weekly Digest** for [*ADVRHumanoids/XBotCore*](https://github.com/ADVRHumanoids/XBotCore):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no st